<!-- Top 5 & last week -->
<div class="row">
    <div class="col-md-6 qlik-object-container qv-white-button" style="display: flex">
        <div qlik-app="$ctrl.qlikApp" qv-placeholder="$ctrl.filters.top5Region" style="height: 40px"></div>
        <div qlik-app="$ctrl.qlikApp" qv-placeholder="$ctrl.filters.top5Account" style="height: 40px"></div>
        <div qlik-app="$ctrl.qlikApp" qv-placeholder="$ctrl.filters.lastWeek" style="height: 40px"></div>
    </div>

    <!-- Qty & Amount -->
    <div class="col-md-3 qlik-object-container qv-white-button" style="display: flex">
        <div qlik-app="$ctrl.qlikApp" qv-placeholder="$ctrl.filters.qty" style="height: 40px"></div>
        <div qlik-app="$ctrl.qlikApp" qv-placeholder="$ctrl.filters.amount" style="height: 40px"></div>
    </div>

    <!-- Time -->
    <div class="col-md-3 qlik-object-container qv-white-button" style="display: flex">
        <!-- Week -->
        <div qlik-app="$ctrl.qlikApp" qv-placeholder="$ctrl.filters.weekly" style="height: 40px"></div>
        <!-- Month -->
        <div qlik-app="$ctrl.qlikApp" qv-placeholder="$ctrl.filters.monthly" style="height: 40px"></div>
        <!-- Quarter -->
        <div qlik-app="$ctrl.qlikApp" qv-placeholder="$ctrl.filters.quarterly" style="height: 40px"></div>
        <!-- Year -->
        <div qlik-app="$ctrl.qlikApp" qv-placeholder="$ctrl.filters.yearly" style="height: 40px"></div>
    </div>
</div>