main-kpi-bar {
    width: 100%;
}

.main-kpi-container {
    display: flex;
    justify-content: space-around;
}

.main-kpi {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main-kpi .main-kpi-title {
    font-size: 21px;
    line-height: 21px;
    font-family: SamsungSharpSans_Bold;
    font-weight: bold;
    color: #5e5e5e;
}

.main-kpi .main-kpi-amount {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.main-kpi .main-kpi-amount .main-kpi-value {
    font-size: 36px;
    line-height: 36px;
    font-family: SamsungSharpSans_Bold;
    font-weight: bold;
    color: #034ea2;
}

.main-kpi .main-kpi-amount .main-kpi-rate {
    display: flex;
    flex-direction: column;
    font-family: SamsungSharpSans_Bold;
    font-weight: bold;
    justify-content: space-evenly;
    margin: 0 0 0 10px;
}

.main-kpi .main-kpi-amount .main-kpi-rate .main-kpi-rate-value {
    display: flex;
    color: #599E09;
    font-size: 21px;
}

.main-kpi .big-kpi-amount .main-kpi-rate .main-kpi-rate-description {
    font-size: 12px;
    line-height: 12px;
    color: #5e5e5e;
}

.kpi-board {
    position: relative;
    display: flex;
    width: 80%;
    margin: 0 0 10px 10px;

}