<div class="sector-buttons">
    <div class="sector-buttons-controllers">
        <div class="sector-buttons-controllers-row">
            <div qlik-app="$ctrl.qlikApp" ng-if="$ctrl.two" qv-placeholder="$ctrl.two" style="height: 30px"></div>
            <div qlik-app="$ctrl.qlikApp" ng-if="$ctrl.one" qv-placeholder="$ctrl.one" style="height: 30px"></div>
        </div>
        <div class="sector-buttons-controllers-row">
            <div qlik-app="$ctrl.qlikApp" ng-if="$ctrl.three" qv-placeholder="$ctrl.three" style="height: 30px"></div>
            <div qlik-app="$ctrl.qlikApp" ng-if="$ctrl.four" qv-placeholder="$ctrl.four" style="height: 30px"></div>
        </div>
    </div>
    <div class="sector-buttons-clear">
        <div qlik-app="$ctrl.qlikApp" ng-if="$ctrl.clear" qv-placeholder="$ctrl.clear" style="height: 30px"></div>
    </div>
</div>